 .intro-carousel,
      .carousel-inner,
      .carousel-item,
      .carousel-item.active {
        height: 40vh;
        margin-top: -58.6px;

      }
@media (max-width: 768px) {
 .intro-carousel,
      .carousel-inner,
      .carousel-item,
      .carousel-item.active {
        margin-top: -80px;
      }
}
.navbar .nav-link {
  color: #fff !important;
}
.carousel-background {
  background: linear-gradient(
    45deg,
    rgba(29, 236, 197, 0.7),
    rgba(91, 14, 214, 0.7) 100%
  );
}
.navbar-zindex{
  z-index: 2000;
}

.navbar.borrado-padding, .navbar .borrado-padding{
  padding-top: 0;
}
.negrita{
  font-weight: bold;
}
.imagen-ods-ong{
  width: 75px;
  height: 75px;
  margin-right: 5px;
}
.imagen-ods-lista{
  width: 214px;
  height: 214px;
}
